:root {
    --background: #1a1a2e;
    --color: #ffffff;
    --primary-color: #0f3460;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "poppins", sans-serif;
    background: var(--background);
    color: var(--color);
    letter-spacing: 1px;
    transition: background 0.2s ease;
}

a {
    text-decoration: none;
    color: var(--color);
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.login-container {
    position: relative;
    width: 22.2rem;
}

.form-container {
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    z-index: 1;
    padding: 2rem;
}

form input {
    display: block;
    padding: 14.5px;
    width: 100%;
    margin: 1.2rem 0;
    color: var(--color);
    outline: none;
    background-color: #9191911f;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    backdrop-filter: blur(15px);
}

form input:focus {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    animation: wobble 0.3s ease-in;
}

form button {
    background-color: var(--primary-color);
    color: var(--color);
    padding: 13px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1.5rem;
    border: none;
    transition: transform 0.1s ease-in-out;
}

form button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
}

.register-forget {
    margin-top: 1rem;
    text-align: center;
}

.register-forget a {
    font-size: 14px;
    opacity: 0.7;
}

.circle {
    width: 8rem;
    height: 8rem;
    background: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}

.circle-one {
    top: 0;
    left: 0;
    transform: translate(-45%, -45%);
}

.circle-two {
    bottom: 0;
    right: 0;
    transform: translate(45%, 45%);
}

@keyframes wobble {
    0% { transform: scale(1.025); }
    25% { transform: scale(1); }
    75% { transform: scale(1.025); }
    100% { transform: scale(1); }
}
